---
import Tag from '@/src/components/Tag/Tag.astro'
import Button from '@/src/components/Button/Button.astro'
import { H1, textLarge } from '@/src/styles/typography'
import { bannerBlock, bannerContent, vurtelStyles, cylinderStyles, halfTorusStyles } from './styles'
---

<div class={bannerBlock}>
  <div class={bannerContent}>
    <Tag>Version 2.0 is here</Tag>
    <h1 class={H1}>Pathway to productivity</h1>
    <p class={textLarge}>Celebrate the joy of accomplishment with an app designed to track your progress, motivate your efforts, and celebrate your successes.</p>
    <div>
      <Button variant='black'>Get for free</Button>
      <Button variant='transparent'>Learn more</Button>
    </div>
  </div>
  <img src="/vurtel1.webp" alt="Vurtel" class={vurtelStyles} />
  <img src="/cylinder1.webp" alt="Cylinder" class={cylinderStyles} />
  <img src="/half-torus1.webp" alt="Half-torus" class={halfTorusStyles} />
</div>
<img src="/sponsors.webp" alt="Sponsors" />